<marquee style="font-size:x-large; text-align: center;"> MOSTLY BROUGHT!!!</marquee>
<br> <br>
<div *ngFor="let c of card" style="float:left;" class="polaroid">
  <div class="row">
    <div class="card col-sm-9" style="width: 18rem; margin-left:40px; margin-bottom: 50px;">
      <!--Property Binding-->
      <img [src]="c.img" class="card-img-top" style="height:300px; width:auto; margin-left:25px; margin-top: 20px;">
      <div class="card-body">
        <!--Interpolation Binding-->
        <div>
          {{c.pname | uppercase}}
          <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>
        </div> <br>
        <div [hidden]="productDetail">
          {{c.pdescription}}
          <br> <br>
          <b>Price: {{c.price | currency:'INR'}}</b>
          <p [ngStyle]="{color:mycolor1}"> <b>{{c.pstatus1}}</b></p>
          <p [ngStyle]="{color:mycolor2}"> <b>{{c.pstatus2}}</b></p>
          <p [ngStyle]="{color:mycolor3}"> <b>{{c.pstatus3}}</b></p>
         <!--<app-content></app-content>-->
          <div class="card-text">
            Quantity: <input type="number" name="quantity" [(ngModel)]="quantity" style="width:37px;border-radius:4px;" min="1" max="8"><br><br>
            <button type="button" id="grad" class="btn btn-primary" (click)="addToCart(c)" data-bs-toggle="modal" data-bs-target="#exampleModal"> Add To Cart</button>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>