.card{
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-style: solid;
}
.card:hover{
    opacity: 1.1;
}
.card-title,
.card-text{
    text-align: center;
}
marquee{
    text-shadow:2px 3px 3px rgba(150, 13, 70, 0.724);
    color:rgb(4, 4, 4);
    font-size: 28px;
}
#grad{
    background-color:aqua;
  background-image: linear-gradient(to bottom right, rgb(36, 36, 202), #00ff08);
}
div.polaroid {
    width: 295px;
    margin-left: 17px;
    height: 646px;
    box-shadow: 0 2px 9px rgb(167, 167, 234);
    text-align: center;
}