<marquee style="font-size:x-large; text-align: center;">ALL PRODUCTS!!</marquee>
<br> <br>

<div *ngFor="let a of all" style="float:left;" class="polaroid">
    <div class="row">
        <div class="card col-sm-3" style="width: 18rem; margin-left:40px; margin-bottom: 50px;">
            <!--Property Binding-->
            <img [src]="a.img" class="card-img-top" alt="..."
                style="height:270px; width:220px; margin-left:23px; margin-top:20px;">
            <div class="card-body">
                <!--Interpolation Binding
                <div>
                    <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>
                </div>
                 <div [hidden]="productDetail">-->
                <b>Price:
                    {{a.price | currency:'INR'}}</b> <br>
                <p [ngStyle]="{color:mycolor1}"> <b>{{a.pstatus1}}</b></p>
                <p [ngStyle]="{color:mycolor2}"> <b>{{a.pstatus2}}</b></p>
                <p [ngStyle]="{color:mycolor3}"> <b>{{a.pstatus3}}</b></p>
                <app-content></app-content>
                <div class="card-text">
                    <button type="button" id="grad" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Order Now!! </button>
                    <button type="button" id="grad" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>