input {
    width: 70%;
    margin-left: 50px;
}
form {
    padding: 15px;
    margin-left: 150px;
    width: 70%;
    border-style:double;
    border-radius: 10px;
    border-color:black;
    background-image:url(https://media.istockphoto.com/photos/dreamcatcher-on-a-forest-at-sunset-picture-id462156083?b=1&k=20&m=462156083&s=612x612&w=0&h=7LucjuarZ2NtAmxFBAFuH1NEbUmviy2wVAs2y5x8Yec=);
}
button {
    margin-left: 160px;
}
span {
    color:aliceblue;
}