<div class="mt-5" class="bg-img">
    <div class="col-md-12 min-vh-100 d-flex flex-column">
        <!-- <h1 style="padding-left:450px;  padding-top:70px ;">LOGIN!!</h1> -->
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="login-form">
                    <form class="mt-5" [formGroup]="loginForm" style="margin-top:45px;" (ngSubmit)="login()">
                        <p style="color:bisque; text-align: center; padding-top: 10px;">LOGIN !!!!</p>
                        <div class="mt-5">
                            <div class="form-group">
                                <i class="fa-sharp fa-solid fa-pen-nib" style="color:bisque; font-size:x-small;"> Email ID:</i><input type="email" class="form-control" name="useremail" formControlName="useremail" placeholder="User Email">
                                <label class="error ng-binding"
                                    *ngIf="submitted && f['useremail'].errors?.['required']" style="color:black;">*Email is required</label>
                                <label class="error ng-binding"
                                    *ngIf="submitted && f['useremail'].errors?.['useremail']" style="color:black;">*Must be a valid email address!!</label>
                            </div><br>
                            <div class="form-group">
                                <i class="fa-solid fa-lock" style="color:bisque; font-size:x-small;"> Password:</i>
                                <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
                                <label class="error ng-binding"
                                    *ngIf="submitted && f['password'].errors?.['required']" style="color:black;">Password is required</label>
                                <label class="error ng-binding"
                                    *ngIf="submitted && f['password'].errors?.['minlength']" style="color:black;">Password must be at least 8 characters</label>
                            </div><br>
                            <button type="submit" class="btn btn-warning" href="">Login</button>
                        </div>
                    </form>
                    <div class="ms-fs-12 ms-mt-x ms-mb-m forgot"> <br>
                        <span class="ms-fs-12 ng-binding" style="color:white; margin-left: 50px;">Don't have an account?
                            <a class="secondary ng-binding" href="register"> Register!! </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>