<br><br><br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://media.istockphoto.com/photos/dreamcatcher-indian-decoration-at-sunset-picture-id1219800961?b=1&k=20&m=1219800961&s=170667a&w=0&h=fDb43X7nIv20R20YEBkLWF2tPedHCg0Hms7GyUg9Rp0="
                class="d-block" style="width: 100%; height: 450px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <span>Get connected with us on social networks:</span>
                <div>
                    <a href="" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
                    <a href="" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
                    <a href="" class="me-4 text-reset"><i class="fab fa-google"></i></a>
                    <a href="" class="me-4 text-reset"><i class="fab fa-instagram"></i></a>
                    <a href="" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
                    <a href="" class="me-4 text-reset"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>DREAMS</h6>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"> Useful links</h6>
                    <p><a href="pricing" class="text-reset">Pricing</a></p>
                    <p><a href="designs" class="text-reset">Designs</a></p>
                    <p><a href="ocaasions" class="text-reset">Occasions</a> </p>
                    <p><a href="#!" class="text-reset">Help</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-envelope me-3"></i>info@dreams.com</p>
                    <p><i class="fas fa-phone me-3"></i> +91 934567988</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright: <a class="text-reset fw-bold" href="https://dreams.com/">dreams.com</a>
    </div>
</div>