<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><img [src]="logo" alt="Dreams"></a>
      <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" class="title">
            <a class="nav-link active" aria-current="page" routerLink="home">{{title}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" *ngIf="!auth">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="prod_details" *ngIf="admin">Product Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="deals" *ngIf="auth">Today's Deals!!</a>
          </li>
          <li class="nav-item dropdown" *ngIf="auth">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Designs </a>
            <ul [ngSwitch]="productentered" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="simple">Simple</a></li>
              <li><a class="dropdown-item" routerLink="led">LED</a></li>
              <li><a class="dropdown-item" routerLink="blue">Blue Feathers</a></li>
              <li><a class="dropdown-item" routerLink="multi">Multi-Layered</a></li>
              <li><a class="dropdown-item" href="#">Hand Crafted</a></li>
              <li><a class="dropdown-item" href="#">Evil Eye</a></li>
            </ul>
          </li>  
          <li class="nav-item dropdown" *ngIf="auth">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Pricing </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="small">Small - 100 to 400</a></li>
              <li><a class="dropdown-item" routerLink="medium">Medium - 300 to 1000</a></li>
              <li><a class="dropdown-item" routerLink="large">Large - 500 to 3000 </a></li>
              <li><a class="dropdown-item" routerLink="special">Special - 500 to 4500 </a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="auth">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Ocassions </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="gifts">Gifts</a></li>
              <li><a class="dropdown-item" routerLink="request">Special Edition Request</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact Us!!</a>
          </li>
        </ul>
        <form class="d-flex">
          <!--<input type="text" #productname placeholder="Enter product name" style="border-radius:2px; height: 40px;">&nbsp;
           <button class="btn btn-outline-success"  type="submit" (click)="search_product(productname.value);productname.value=''" style="border-radius:2px; width:70px; height: 40px; color: blue;" *ngIf="auth">
            <i class="fa-solid fa-magnifying-glass"></i></button>
          <app-search [product]="productentered"></app-search>  &nbsp;&nbsp;&nbsp; -->
          <button routerLink='cartitem' style="height:5px;border:none;" *ngIf="auth">
            <span class="fa fa-cart-plus" style="font-size:16px;color:black"><sup class="text-warning" style="font-size:10px;margin-left:3px;">{{cartCount}}</sup></span>
          </button> &nbsp;&nbsp;&nbsp;
          <a class="btn btn-outline-warning" type="submit" style="border-radius:10px;color:black;" routerLink="login" *ngIf="auth">Logout </a>
        </form>
      </div>
    </div>
  </nav>