<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img [src]="logo" alt="Dreams"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">DREAMS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"routerLink="cards" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Designs </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Simple</a></li>
              <li><a class="dropdown-item" href="#">LED</a></li>
              <li><a class="dropdown-item" href="#">Blue Feathers</a></li>
              <li><a class="dropdown-item" href="#">Colourful</a></li>
              <li><a class="dropdown-item" href="#">Multi-Layered</a></li>
              <li><a class="dropdown-item" href="#">Hand Crafted</a></li>
              <li><a class="dropdown-item" href="#">Evil Eye</a></li>
            </ul>
          </li>  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Pricing </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Small - 100 to 300</a></li>
              <li><a class="dropdown-item" href="#">Multi-Layered - 300 to 1000</a></li>
              <li><a class="dropdown-item" href="#">Large - 500 to 1500 </a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Ocassions </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Home</a></li>
              <li><a class="dropdown-item" href="#">Birthday Gifts</a></li>
              <li><a class="dropdown-item" href="#">Anniversery</a></li>
              <li><a class="dropdown-item" href="#">Special Edition Request</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input type="text" #productname placeholder="Enter product name" style="border-radius:10px;">&nbsp;
          <button class="btn btn-outline-success" type="submit" (click)="search_product(productname.value);productname.value=''" style="border-radius:5px; width:70px; height: 40px;">Search</button>
          <br>
          <!--@Input(product) in search component-->
          <!--PROPERTY BINDING-->
          <!--@Input(product) in search component is going to receive the value from productentered property from nav component-->
          &nbsp;&nbsp;&nbsp;<br>
          <app-search [product]="productentered"></app-search>
        </form>
      </div>
    </div>
  </nav><br><br>