.card{
    background-color:lavender;
    border-radius: 10px;
    border-color:darkblue;
    border-style: solid;
}
.card:hover{
    opacity: 0.9;
}

.card-title,
.card-text{
    text-align: center;
}