<marquee>Today's Deals!!</marquee>
<div style="margin-top: 30px; float:left; margin-top: 150px;">
    <div class="row">
        <div class="col col-lg-9">
            <app-deals [product]="productItem" *ngFor="let productItem of deals"></app-deals>
        </div>
        <div class="card col-lg-3">
                <img src="assets/img8.jpg" width="270px" height="580px"> <br> <br> <br>
                <img src="http://31.media.tumblr.com/b561951bc7a002a813d9deedf70dbb94/tumblr_mgocf19M6z1rcww1zo1_400.gif" height="630px">
                <img src="https://m.media-amazon.com/images/I/71cY3EGdNrL._AC_SX466_.jpg" height="570px">
        </div>
    </div>
</div>