/*input {
    width: 70%;
    margin-right: 50px;
}*/
form {
    padding: 15px;
    width: 30%;
    margin-left:30px ;
    border-style:double;
    border-radius: 10px;
    border-color:black;
}
button {
    margin-left: 130px;
}
span {
    color:aliceblue;
}
.bg-img {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/70/53/2g8da6.jpg);
    /*min-height: 230px;*/
    width: 1300px;
    height: 600px;
    background-position: center;
    background-size: cover;
    position: relative;
}